modules/ROOT/images/desktop.ini
modules/ROOT/partials/art_filler.adoc
desktop.ini
randobits.adoc
.vscode/*
mermaids_tales.md
error_tracker.txt
plantest.md
.cspell/*
.gitignore
_task_rework.adoc
PROJECT.adoc
error_to_erase.txt